*.egg-info
*.pyc
*.swp
.coverage
.coverage.*
.DS_Store
.eggs
.pytest_cache
.tox/
__pycache__/
build/
coverage.xml
dist/
htmlcov/
venv/
.venv/
version.py
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/
