[build-system]
requires = [
    "setuptools >= 44.1.1",
    "setuptools_scm[toml] >= 4, <6",
    "wheel >= 0.36",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "habitat/version.txt"

[tool.black]
skip-string-normalization = true
